@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --Desaturated-Red: hsl(0, 36%, 70%);
    --Soft-Red: hsl(0, 93%, 68%);
    --Dark-Grayish-Red: hsl(0, 6%, 24%);
    --Gradient-1: hsl(0, 0%, 100%);
    --Gradient-2: hsl(0, 100%, 98%);
    --Gradient-3: hsl(0, 80%, 86%);
    --Gradient-4: hsl(0, 74%, 74%);
}
body{
    font-family: 'Josefin Sans', sans-serif;
    color: var(--Desaturated-Red);
}
.container{
    width: 375px;
    height: 800px;
    margin: 0 auto 80px;
    background-color: var(--Gradient-2);
}
.container__logo{
    width: 100px;
    margin: 30px;
}
.container__picture{
    margin-bottom: 60px;
}
.container__content__title{
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5em;
    color: var(--Dark-Grayish-Red);
    font-weight: 700;
    letter-spacing: 11px;
    margin-bottom: 30px;
}
.container__content__title--color-red{
    color: var(--Desaturated-Red);
    font-weight: 300;
}
.container__content__description{
    margin: 0 40px 40px;
    text-align: center;
    font-size: 0.85em;
    line-height: 1.4em;
}
.container__content__form{
    width: 310px;
    height: 50px;
    margin: 0 auto;
    position: relative;
}
.container__content__form__email{
    width: 100%;
    height: 100%;
    border-radius: 50px;
    padding-left: 16px;
    border: 1px solid var(--Desaturated-Red);
    outline: none;
    /* background-image: url(./images/icon-error.svg); */
    background-repeat: no-repeat;
    background-position: 210px 12px;
}
.container__content__form__email::placeholder{
    color: var(--Desaturated-Red);
}
.container__content__form__button{
    width: 68px;
    height: 52px;
    position: absolute;
    right: 0;
    top: -1px;
    border-radius: 50px;
    background: linear-gradient(135deg, var(--Gradient-3), var(--Gradient-4));
    padding: 14px 25px;
}
.container__content__form__button:hover{
    cursor: pointer;
    background: linear-gradient(135deg, var(--Gradient-2), var(--Gradient-4));
    box-shadow: 0 10px 15px var(--Gradient-4) ;
}
.container__content__form__email--error{
    font-size: 0.85em;
    margin: 8px 0 0 14px;
    color: var(--Soft-Red);
}
.attribution { 
    font-size: 16px; 
    text-align: center; 
    margin-bottom: 60px;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
/*----------------Desktop-------------------------*/
@media (min-width: 1440px){
    .container{
        height: 800px;
        width: 1440px;
        position: relative;
        background-image: url(./images/bg-pattern-desktop.svg);
        margin-bottom: 40px;
    }
    .container__logo{
        width: 160px;
        margin: 35px;
        margin-left: 166px;
    }
    .container__picture{
        content: url(./images/hero-desktop.jpg);
        position: absolute;
        right: 0;
    }
    .container__content{
        width: 444px;
        margin: 125px 0 0 166px; 
    }
    .container__content__title{
        text-align: left;
        font-size: 4.1em;
        letter-spacing: 15px;
    }
    .container__content__description{
        text-align: left;
        font-size: 1em;
        margin: 0 0 40px;
    }
    .container__content__form{
        width: 100%;
        height: 60px;
    }
    .container__content__form__email{
        background-position: 300px 18px;
    }
    .container__content__form__button{
        width: 102px;
        height: 62px; 
        padding: 20px 42px;
    }

}